  .reaction-test body {
     margin: 10px;
  }

  .reaction-test #background {
     background-color: black;
     width: 450px;
     height: 400px;
     border-style: solid;
     border-width: 3px 0 3px 3px;
     border-color: #A79DC8;
     margin: 0;
     padding: 0;
     float: left;
  }

  .reaction-test #topbar {
     background-color: #A79DC8;
     height: 50px;
     width: 560px;
     padding: 0;
     margin: 0;
     top: 0;
     float: left;
  }

  .reaction-test #right-pane {
     background-color: #C7C9D5;
     height: 400px;
     width: 110px;
     border-style: solid;
     border-width: 3px 3px 3px 0;
     border-color: #A79DC8;
     margin: 0;
     padding: 0;
     float: left;
  }

  .reaction-test #right-pane p {
    margin:0;
    padding: 3px;
    font-weight: bold;    
  }

  .reaction-test #topbar p {
     padding: 10px;
     margin: 0px;
     float: left;
     top: 0;
  }

  .reaction-test #right-pane span {
    text-align: right;
    font-weight: normal;   
  }

  .reaction-test #topbar h2 {
     padding: 0px;
     margin: 0px;
     top: 0;
  }

  .reaction-test #topbar button {
    margin: 10px;
    float: right;
    top: 0;
  }

  .reaction-test #topbar span {
     font-weight: bold;
  }

  .reaction-test #box {
     width: 25px;
     height: 25px;
     border-radius: 50px;
     visibility: hidden;
     position: relative;
  }

  .clear {
    margin: 0 auto;
    clear: both;
  }

  .reaction-test #central {
    position: fixed;
  }

  .reaction-test #gameover {
    text-align: center;
    padding-top: 30%;
    font-size: 2.5em;
    visibility: hidden;
  }
